{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5>Traffic Flows</h5>
      </div>
      <div class="card-body">
        {% if flows_table %}
          <h6>Flow Diagram</h6>
          <div id="flow-network" style="height: 500px;"></div>
          {% render_table flows_table %}
        {% else %}
          <p>No traffic flows found for this virtual machine.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>
<script type="application/json" id="vis-data">
  {{ vis_data|safe }}
</script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    var container = document.getElementById('flow-network');
    var rawData = document.getElementById('vis-data').textContent;
    var data = JSON.parse(rawData);
    var options = {
      physics: { enabled: true },
      edges: { arrows: 'to' }
    };
    var network = new vis.Network(container, data, options);
  });
</script>
{% endblock %}