{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5>Traffic Flows</h5>
      </div>
      <div class="card-body">
        {% if flows_table %}
          {% render_table flows_table %}
        {% else %}
          <p>No traffic flows found for this [virtual machine/device].</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}