{% extends 'generic/object.html' %}
{% load helpers %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5>Traffic Flows</h5>
      </div>
      <div class="card-body">
        <div class="accordion" id="flowsAccordion">
          <!-- Flow Table Section (Closed by Default) -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTable">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTable" aria-expanded="false" aria-controls="collapseTable">
                Flow Table
              </button>
            </h2>
            <div id="collapseTable" class="accordion-collapse collapse" aria-labelledby="headingTable" data-bs-parent="#flowsAccordion">
              <div class="accordion-body">
                {% if flows_table %}
                  {% render_table flows_table %}
                {% else %}
                  <p>No traffic flows found for this virtual machine.</p>
                {% endif %}
              </div>
            </div>
          </div>       
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}